body {
  background-color: #e8e8e8;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 4px;
  width: 5%;
}
img {
  height: 20%;
}

h1 {
  color: #66BFBF;
}
h3 {
  color: #66BFBF;
}

a {
  color: #4f8a8b;
}
